* {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  color: #e5e7eb;
}

ul {
  margin: 0px;
  padding: 0px;
}

.img-one {
  width: 400px;
  height: 300px;
  border-radius: 10px;
}

.header-links {
  display: flex;
  gap: 2rem;
}

.main-container {
  background-color: #1f2937;
  padding: 20px 0px;
}

.header-one {
  color: #e5e7eb;
  font-size: 24px;
}

.container-1 {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.container-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.this-website,
.explain,
button {
  color: #e5e7eb;
}

.left-first {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-right: 20px;
}

.big {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 50px;
}

button {
  width: 70px;
  height: 25px;
  background-color: #3882f6;
  font-weight: bold;
  border-radius: 10px;
  border-color: #3882f6;
}

.second {
  background-color: rgb(0, 0, 0);
  padding: 20px 10% 50px 10%;
}

.text-two {
  color: #e5e7eb;
  text-align: center;
  padding: 40px 0px 30px 0px;
  font-size: 36px;
  font-weight: 900;
}

.img-div {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding-bottom: 50px;
  padding-top: 20px;
}

.img-two {
  max-width: 20%;
  border-radius: 20px;
}

.mission {
  color: #e5e7eb;
  text-align: center;
  font-style: italic;
  font-size: 28px;
  font-family: "Satisfy", cursive;
}

@media (max-width: 896px) {
  .big {
    flex-direction: column;
  }
  .img-one {
    margin-top: 50px;
    height: auto;
  }
  .img-cont {
    display: flex;
    justify-content: center;
    flex: 1;
  }
  .left-first {
    align-items: center;
    text-align: center;
  }
}
